
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

/node_modules
/tests/integration/combat/src/Tests/*/out
/cmd/cafe-runner-client/cafe-runner-client
/cmd/cafe-runner-server/cafe-runner-server
/web/assets
/cmd/cafe-runner-server/_data/
/cmd/cafe-runner-server/config.yml
